<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" >


  </head>
  <body class="container">
    <h1>Lista de Tareas</h1>
    <section id="app">
      <form class="form col-lg-12" v-on:submit.prevent="agregar()" style="margin-bottom:  20px">
        <div class="form-group col-lg-12">
          <label>Tareas</label>
          <input type="text" class="form-input col-lg-12" v-model="nuevaTarea.titulo">
        </div>
        <div class="form-group col-lg-12">
          <label>Descripcion</label>
          <input type="text" class="form-input col-lg-12" v-model="nuevaTarea.descripcion">
        </div>

        
        <button class="btn btn-success" type="submit">Agregar</button>
      </form>
      <table class="table" v-if="tareas != ''">
        <tr>
          <th>Titulo</th>
          <th>Descripcion</th>
          <th>Opciones</th>
        </tr>
        <tr v-for="tarea in tareas">
          <td>{{ tarea.titulo}}</td>
          <td>{{ tarea.descripcion}}</td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" v-on:click="eliminar(tarea)" >Eliminar</button>
            <button type="button" class="btn btn-warning btn-sm" v-on:click="editar(tarea)">Editar</button>
          </td>
        </tr>
      </table>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.js" ></script>
    

    <!-- Vuejs Library-->
    <script src="js/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.3.1/firebase.js"></script>

    <script>
      
      var config = {
        apiKey: "AIzaSyBhNp0ZQN6Dv0sDFO6BOdu4xnK1dW9pfKw",
        authDomain: "listatareas-6646c.firebaseapp.com",
        databaseURL: "https://listatareas-6646c.firebaseio.com",
        projectId: "listatareas-6646c",
        storageBucket: "listatareas-6646c.appspot.com",
        messagingSenderId: "581580670299"
      };
      

      firebase.initializeApp(config);
      
      var app = new Vue({
        el: "#app",
        data :{
          nuevaTarea : {
            titulo : '',
            descripcion : ''
          },
          tareas : [],
          editando: false,
          
        },
        methods:{
          agregar : function(){
            //alert('todo ok');
            if(this.editando){
              //actualizar
              firebase.database().ref('tareas/'+this.nuevaTarea.key).update({
                titulo : this.nuevaTarea.titulo,
                descripcion : this.nuevaTarea.descripcion
              });
            }else{
              //Crear
               var key = firebase.database().ref().child('tareas').push().key;
              firebase.database().ref('tareas/'+key).update(this.nuevaTarea);
            }

            this.editando = false;
            this.nuevaTarea = {
              titulo : '',
              descripcion : ''
            }

            
          },
          editar : function(tarea){
            this.nuevaTarea = tarea;
            this.editando = true;
            console.log(tarea)

          },
          eliminar: function(tarea){
            //console.log(tarea);
            firebase.database().ref('tareas/'+tarea.key).remove();

          },
          traerData: function(){

            
              firebase.database().ref("tareas").on("child_added", function(data){
                nuevaTarea = data.val();
                nuevaTarea.key = data.key;
                app.tareas.push(nuevaTarea);
                //console.log(nuevaTarea);

              });
              firebase.database().ref('tareas').on('child_removed',function(data){
                nodoBorrado = data.val();
                nodoBorrado.key = data.key;
                index = app.tareas.indexOf(nodoBorrado);
                app.tareas.splice(index, 1); 
              });

              firebase.database().ref('tareas').on('child_changed',function(data){
                nodoActualizado = data.val();
                nodoActualizado.key = data.key;
                console.log(nodoActualizado);
                index = app.tareas.indexOf(nodoActualizado);
                app.tareas[index] = nodoActualizado;
                //alert('actualizado')

              });


            
            
          }

        },
        mounted(){
          this.traerData();
        }



      });
    </script>
  </body>
</html>